<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>os_alioss_free</id>
<name>阿里云OSS - Free</name>
<url>https://oss.so/</url>
<note>阿里云OSS插件2017年更新，免费版本</note>
<description>阿里云OSS插件2017年更新，免费版本</description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>橙色阳光</name>
  <email>1122@hizhou.cn</email>
  <url>http://oss.so</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>150101</adapted>
<version>1.0</version>
<pubdate>2017-10-20</pubdate>
<modified>2017-10-21</modified>
<price>0</price>
<phpver>5.3</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>